# DATABASE
DB_DATABASE=gameon
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=

# ASAAS API VERSION
ASAAS_API_VERSION=v3

# ASAAS SANDBOX SETTINGS
ASAAS_SANDBOX_URL=https://sandbox.asaas.com/api
ASAAS_SANDBOX_TOKEN=

# ASAAS WEBHOOK TOKEN
# ASAAS_SANDBOX_WEBHOOK_TOKEN=
